.Cronica {
    width: 400px;
    height: 400px;
    margin: 50px;
    text-align: center;
    border-radius: 8px;
    cursor: pointer;
}

.Cronica:hover {
    background-color: rgb(212, 231, 215);
}

.Cronica p {
    font-size: 25px;
    margin: 10px;
}

.Cronica img {
    margin-top: 20px;
    width: 300px;
    height: 300px;
}

@media (max-width: 800px ) {
    .Cronica {
        width: 80vw;
    }

    .Cronica img {
        width: 50vw;
        height: auto;
    }


    .Hide {
        display: none;
    }
}