.burgerButton {
    width: 5rem;
    height: 5rem;
    border-radius: 1rem;
    margin: 0.5rem 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: 1s ease-out;

    .patties {
        height: 2px;
        width: 4rem;
        margin: 10px 0;
        background-color: black;
        transition: 1s ease-in-out;
    }
    
}

.burgerButton:hover {
    background-color: rgba(0, 0, 0, 0.2);

    .patties {
        transform: rotate(-180deg);
    }
}

