

.Cronicas {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 15vh;
}

.Title {
    font-weight: 500;
    color: black;
    font-size: 35px;
}

.CronicasHeader {
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    height: 75px;
    border: 1px solid transparent;
    cursor: pointer;
}

/* .burgerButton {
    width: 5rem;
    height: 5rem;
    border-radius: 1rem;
    margin: 0.5rem 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.burgerButton:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.patties {
    height: 2px;
    width: 4rem;
    margin: 10px 0;
    background-color: black;
}

.patties:hover {
    transform: rotate(30deg);
} */

.Button:hover {
    background-color: rgb(218, 214, 214);
    border: 1px solid black;
}

.Name {
    position: absolute;
    padding: 0 30px 5px 20px;
    height: 50px;
    font-size: 30px;
    border-right: 1px solid black;
}

.Name:hover {
    background: #c7c7c7;
    border-bottom: 2px solid black;
}

.CronicasHeader p {
    text-align: center;
    padding-top: 20px;
    margin: 0;
    margin-bottom: 20px;
}

.PhoneButton {
    display: none;
}

.chapterText {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 2rem;
}

.chapterText > img {
    width: 20rem;
}

@media (max-width: 500px) {

    .CronicasHeader {
        display: block;
    }

    .CronicasHeader p {
        padding-top: 25px;
    }

    .Name {
        font-size: 15px;
        padding: 0;
        padding-right: 5px;
    }

    .Title {
        padding-left: 50px;
        font-size: 15px;
    }

    .PhoneButton {
        display: block;
        margin-top: 10vh;
        margin-left: 40vw;
    }

    .Button {
        margin-top: 60px;
        margin-left: 40vw;
    }

    .Extra {
        display: none;
    }
}

@media (max-width: 500px) {
    .Name {
        font-size: 12px;
        padding-left: 5px;
        padding-right: 10px;
    }

    .Title {
        padding-left: 90px;
        font-size: 12px;
    }
}