.about-wrapper {
    margin: 0;
    overflow: auto;
    background: #ebebeb;
    min-height: 100vh;
}

.about-header {
    position: sticky;
    top: 0;
    height: 70px;
    border-bottom: 2px solid black;
}

.about-header p{
    position: absolute;
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 400;
    font-size: 35px;
    margin-top: 15px;
    margin-left: 20px;
}

.about-header p:hover {
    background: #c7c7c7;
}

.about-header a {
    color: black;
}

.about-me {
    display: flex;
}

.about-me img {
    width: 300px;
    height: auto;
    border-radius: 10%;
    margin: 60px;
    margin-left: 30px;
}

.about-me p {
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    padding-top: 60px;
    padding-right: 80px;
}