.cronicas-wrapper {
margin: 0;
overflow: hidden;
}

.cronicas-carousel {
width: 100%;
height: 400px;
margin-top: 25vh;
display: flex;
flex-direction: row;
flex-wrap: nowrap;
background: white;
}

.cronicas-header {
    position: sticky;
    top: 0;
    height: 75px;
    border-bottom: 2px solid black;
}

.name{
    position: absolute;
    padding-left: 20px;
    height: 50px;
    padding-right: 30px;
    font-size: 30px;
    border-right: 1px solid black;
}

.name:hover {
    background: #c7c7c7;
    border-bottom: 2px solid black;
}

.cronicas-header p {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    padding-top: 25px;
    margin: 0;
    margin-bottom: 20px;
}

.title {
    font-weight: 500;
    color: black;
    font-size: 35px;

}

.cronicas-header a {
    color: black;
    margin: 0;
}

img {
width: 250px;
height: auto;
max-height: 250px;
}

#items {
padding-left: 5vw;
text-align: center;
text-transform: uppercase;
}

#items p {
font-family: 'Courier New', Courier, monospace;
font-size: 20px;
}

.heading {
color: black !important;
font-family: 'Courier New', Courier, monospace;
font-size: 2em;
font-weight: 100;
letter-spacing: 3px;
text-transform: uppercase;
margin-bottom: 0px;
}

.slide {
display: none;
max-width: 900px;
text-align: center;
}

.active {
display: block;
}

.slider {
display: flex;
flex-direction: column;
align-content: center;
align-items: center;
text-align: center;
width: 100%;
padding: 150px 0px 0px 0px;
}

.slider-items {
display: flex;
flex-direction: row;
align-content: center;
align-items: center;
}

.noButton {
display: none;
}

.button {
border-radius: 30px;
border: none;
color: #FFFFFF;
font-family:'Open Sans', 'Sans-Serif';
font-weight: bold;
font-size: 105%;
text-transform: uppercase;
padding: 6px 40px 6px 40px;
}

.secondButton {
border-radius: 30px;
border-color: #FF00A5;
background-color: Transparent;
border-style: solid;
color: #FF00A5;
font-family:'Open Sans', 'Sans-Serif';
font-weight: bold;
font-size: 105%;
text-transform: uppercase;
padding: 5px 40px 5px 40px;
margin:  0px 0px 0px 10px;
}

button:hover {
text-decoration: none;
background-color: #FD39B8;
}

button:focus {
outline: 0;
}

.secondButton:hover {
text-decoration: none;
background-color: Transparent;
border-color: #FD39B8 ;
color: #FD39B8 ;
}

.slider-text {
width: 800px;
}

.mainSlide {
font-size: 3em;
letter-spacing: 3px;
font-family: 'Courier New', Courier, monospace;
}

.fa {
color: #707070;
}

/* --- Submit Form --- */

.cronicas-form {
    padding-top: 40px;
}

.form-input {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 12px;
    width: 110px;
    margin-bottom: 20px;
    border: 1px solid black;
    border-radius: 5px;
}

.form-button {
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
    border-radius: 5px;
    border: 1px solid black;
    width: 150px;
    height: 30px;
    background: transparent;
    cursor: pointer;
    box-shadow: 2px 2px 5px #bfebfc;
    transition-duration: 0.5s;
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
}

.form-button:hover {
    background: rgb(44, 197, 182);
    box-shadow: 2px 2px 20px #AFE9FF;
}

/* -x- Submit Form -x- */